<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Farm</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="/public/javascript/farmApp.js"></script>
    <link rel="stylesheet" href="/public/css/welcome.css">
    <link rel="stylesheet" href="/public/css/data.css">
    <link rel="stylesheet" href="/public/css/navigation.css">
    <link rel="stylesheet" href="/public/css/chatbot.css">
    <link rel="stylesheet" href="/public/css/notification.css">
    <link rel="stylesheet" href="/public/css/nv.d3.css">


    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="/public/javascript/radarChart/radarChartModel.js"></script>
    <script src="/public/javascript/lineChart/nv.d3.min.js"></script>

</head>

<body ng-app="farmApp" ng-controller="farmController">

<div class="welcome" ng-if="viewToShow=='welcome'">
    <div class="inner">
        <img src="/public/images/logo_2.png" class="logo">
        <p class="description">We simply make farming easier. We care about you. We love you.</p>
        <br>
        <button class="startButton" ng-click="enter()">let's do it</button>
    </div>
</div>


<div class="navigation" ng-if="viewToShow!='welcome'">
    <div id="navigationContainer">
        <img src="/public/images/logo_4.png" id="navigationLogo">
        <p id="companyName">happy farm</p>
        <ul>
            <li ng-click="showData()">Data</li>
            <li ng-click="showChat()">Chat</li>
        </ul>
    </div>
</div>

<div class="data" ng-if="viewToShow!='welcome'">
    <!-- Left Part -->
    <div class="overallDisplay">
        <div class="upperWrapper">
            <div class="iconWrapper">
                <p class="prevPlant button"><</p>
            </div>
            <div class="iconWrapper">
                <img class='plantIcon' src="/public/images/tomato.png">
            </div>
            <div class="iconWrapper">
                <p class="nextPlant button">></p>
            </div>
        </div>
        <p class='description'>{{userInfo.name}}'s {{userInfo.plant}}</p>
        <div class="radarChartDisplay" ng-model="radarChartDisplay">
            <myng-radar-chart data="sensorData">
                <div id="radarChart"></div>
            </myng-radar-chart>
        </div>

        <!-- Notification -->
        <div class="notification">
            <p id="notificationText" class="hideNotification">{{currentCondition}}</p>
        </div>

    </div>

    <!-- Right Part -->
    <!-- -- Detailed Chart -->
    <div class="detailedDisplay" ng-if="viewToShow=='data'">
        <b><p class="parameterLabel" id="chartName"></p></b>
        <hr>
        <div class="realTimeData">
            <div class="paramWrapper">
                <img src="/public/images/temperature.png" id="paramIcon">
            </div>
            <div class="paramWrapper">
                <p id="realTimeDataValue"></p>
            </div>
        </div>
        <div class="chartDisplay">
            <myng-line-chart data="sensorData" index="0" id="lineChartContainer">
                <div id="lineChart"></div>
            </myng-line-chart>
        </div>
    </div>

    <!-- -- Chat Bot -->
    <div class="chatbot" ng-if="viewToShow=='chatbot'">
        <myng-chat></myng-chat>
    </div>
</div>

</body>
</html>